body{
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(241, 237, 237);
 }
 header{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
   font-weight: 700;
 }
 .form-div{
     padding: 15px;
 }
 form{
     display: flex;
     flex-direction: column;
     width: 350px;
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 5px 10px 15px;
 }
 label{
     font-size: 20px;
     width: 100px;
     color: black;
     margin-top: 12px;
 }
 .name-input-div{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
 }
 .name-input{
    width: 150px;
    padding: 10px;
 }
 input{
     font-size: 18px;
     display: flex;
     justify-content: end;
     width: 330px;
     border-radius: 6px;

     border: solid 1px black;
     padding: 10px;
     margin-top: 15px;
     }
 button{
    margin-top: 20px;
    font-size: 20px;
    width: 310px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color:white;
    background-color: black;
 }
 p{
    display: flex;
    justify-content: center;
    color: black;
 }
 .img-input{
    border: solid 1px black;
    width: 330px;
    align-items: center;
 }